.form {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
}

.display {
  display: flex;
  gap: 16px;
  margin-top: 22px;
  justify-content: center;
}

.group {
  display: flex;
  gap: 12px;
}
