.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.group {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-right: 52px;
}
.group:nth-child(2) {
  gap: 12px;
  margin-right: 80px;
}

.display {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: 48px;
  height: 340px;
}
